# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg

# Virtualenv
.venv/
venv/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Database
*.sqlite3

# Environment
.env
.env.testing
.env.production

# Alembic
alembic/versions/*.pyc